@{
    ViewData["Title"] = @Localizer["Title"];
}

<div class="section--primary">
    <div class="container">
        <h1><span>@Localizer["Title"]</span></h1>
    </div>
</div>

<section id="content">
    <div class="container">
        <p>No results. Our search engine is unplugged at the moment.</p>
    </div>
</section>
