
<footer>
    <div class="container">
        <h2>UK Parliament</h2>
        <ul class="list ">
            <li><a asp-action="CookiePolicy" asp-controller="Meta">@Localizer["CookiePolicy"]</a></li>
            <li><a href="https://www.parliament.uk/site-information/data-protection/data-protection-and-privacy-policy/">@Localizer["DataProtection"]</a></li>
            <li><a href="https://www.parliament.uk">@Localizer["LegacyWebsiteLink"]</a></li>
            <li><a href="https://www.parliament.uk/site-information/copyright/open-parliament-licence/">@Localizer["Licence"]</a></li>
        </ul>
    </div>
</footer>