@model UKParliament.Model.UKParliamentDynamicGraph

<ol class="list--block list--3 ">
    @foreach (var house in Model.Houses.OrderBy(x => x.HouseName))
            {
    <li>
        <div class="card">
            <div class="card__details">
                <h3><a asp-controller="House" asp-action="Item" asp-route-id="@house.Id">@house.HouseName</a></h3>
            </div>
        </div>
    </li>
            }
</ol>