@model UKParliament.Model.UKParliamentDynamicGraph

<ol class="list--block list--3">
    @foreach (var procedure in Model.ProcedureCollection.OrderBy(x => x.ProcedureName))
    {
        <li>
            <div class="card">
                <div class="card__details">
                    <h3>
                        @if (GraphHelper.ControllerMap.ContainsKey(procedure.Id))
                        {
                            <a asp-action="Index" asp-controller="@GraphHelper.ControllerMap[procedure.Id]">@procedure.ProcedureName</a>
                        }
                        else
                        {
                            @procedure.ProcedureName
                        }
                    </h3>
                    @*<p>@procedure.ProcedureDescription</p>*@
                </div>
            </div>
        </li>
    }
</ol>