<div class="section--primary">
    <div class="container">
        <h1><span>Resource "@ViewContext.RouteData.Values["id"]" not found</span></h1>
        <p>The resource might not be of type @ViewData["ResourceType"] or it might not exist.</p>
        <p>Try out <a href='https://id.parliament.uk/@ViewContext.RouteData.Values["id"]'>https://id.parliament.uk/@ViewContext.RouteData.Values["id"]</a> to check if the resource exists in UK Parliament's knowledge graph.</p>
    </div>
</div>